<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <head>
    <base target="_blank">
  </head>
  <link rel="stylesheet" type="text/css" href="/style/style.css">
  <!--Copy code-延迟执行，直到整个页面都加载完成 -->
   <link rel="stylesheet" type="text/css"  href="/style/copy.css"/>
   <script defer src="/style/copy.js"></script>
  <!--/Copy code-->
<script src="https://cdn.jsdelivr.net/gh/hintryer/cdn/gotop.js"></script>
  <title>
   {{ page.path | split: '/' | last | remove: '.md'}}
  </title>
</head>
<body>
  <main class="page-content" aria-label="Content">
    <h1>{{ page.path | split: '/' | last | remove: '.md'}}</h1>
  {{ content }}
    </main>
</body>
</html>

